<!-- =================================================================
SITE FOOTER
================================================================== -->
<footer class="site-footer">
    <p class="site-footer__text">
        <span id="copyright-year">&copy; 2024 Jayson Jamora. All Rights Reserved.</span>
        <span class="site-footer__separator">|</span>
        <span>Built with HTML, CSS, JS & lots of coffee.</span>
    </p>
</footer>
